.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
}

.no-gutters > .col
     {
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  

header {

display: block;

}

main {


}




footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   }

#weatherBackground {

background-attachment: fixed;
background-image: url(weatherimg/mediumweather.jpg);
background-repeat: no-repeat;
background-size: cover;

}
