.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
}

.no-gutters > .col
     {
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  

header {

display: block;

}

.wrapper {

border: 1px;
border-style: solid;
border-width: 1px;
border-color: grey;
border-radius: round;
width: 360px;
margin: 0 auto;
background-color: white;

padding: 0;
}

#location {

/*    text-align: left; */
margin: 5px;
font-size: 1.3em;
color: grey;
font-weight: bold;
}





body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%

}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
   }



.small {

font-size: 0.5em;
vertical-align: super;

}

#windContainer {


    text-align: center;
    margin: 5px;
    font-size: 0.9em;
    color: grey;
    background-color: white;
    font-weight: bold;
   
}



#showTemp {

    
    margin: 5px;
    font-size: 1.8em;
    color: grey;
    font-weight: bold;


}

.foreCast {

    
    border-top-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: 0;
    padding: 0;

}

.weatherToday {

    margin: 0;
    padding: 0;


}