
.quoteColorLoad {
    
    background-color: #F4FFFD;
    color: #ED254E;
    
}

.quotegreen {
    
    background-color: #CCF5AC;
    color: #BAD29F;
    
}


.quoteblue {
    
    background-color: #A9D6EB;
    color: #6C78D8;
    
}


.quotegrey {
    
    background-color: F3F3F3;
    color: 464F51;
    
}

.quotered {
    
    background-color: #FFE0E3;
    color: #ED254E;
    
}