body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%

}





a,a:hover {

text-decoration: none;
color: #3F5E5A;

}

 
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

i.online {

color: red;

}

#container {

width: 300px;
background: grey;

}
#toggle_esl_sc2 {
   
    
    
    
    
  }



@media (max-width: 575px) {

   

}